<div id="utt-the-reveal" class="utt-full-viewport">
    <div class="container text-center">
        <div class="row" ng-if="!$ctrl.model.unlocked">
            <!-- Button to unlock the truth -->
            <div class="col-xs-12">
                <h3>
                    click to unlock the truth, or <a ng-click="$ctrl.scrollToQuestions()">return to questions</a>
                </h3>
                <i ng-click="$ctrl.unlockTheTruth()" class="fa fa-question-circle-o utt-the-reveal-button hvr-buzz"></i>
            </div>
            <!-- Show message if truth isn't unlocked. -->
            <div class="col-xs-12">
                <p class="utt-fade-in utt-fade-out" ng-show="$ctrl.model">
                    {{$ctrl.model.message}}
                </p>
            </div>
        </div>
        <div class="row" ng-if="$ctrl.model.unlocked">
            <pre>{{$ctrl.model|json}}</pre>
        </div>
    </div>
</div>