.utt-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff69b4+0,89cff0+44,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(255, 105, 180, 0.65) 0%, rgba(137, 207, 240, 0.36) 44%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 105, 180, 0.65) 0%, rgba(137, 207, 240, 0.36) 44%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 105, 180, 0.65) 0%, rgba(137, 207, 240, 0.36) 44%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ff69b4', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
    /* Make everything in the header vertically centered. */
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-height: 100%;
}

.utt-header h1 {
    text-shadow: 3px 2px 14px rgba(255, 110, 110, 1);
    font-weight: normal;
    color: #000000;
    letter-spacing: 1pt;
    word-spacing: 2pt;
    font-size: 88px;
    font-family: helvetica, sans-serif;
    line-height: 1;
    text-transform: lowercase;
}