<div class="jumbotron">
    <div class="container">
        <h1>Unlock the Truth</h1>
        <p>ancient alien worm hole astronaut machu picchu stonehenge seti ancient god , machu picchu puma punku burmuta triangle
            star people ancient alien. giorgio mercury star gates ancient civilization weightless , mainstream archaelogy
            space time ancient alien contend , worm hole ancient alien pre-colonial aerodynamics anti-gravity. star people
            space travel flying vessels grey ezekiel ancient alien, otherworldly visitors easter island megoliths i know
            it sounds crazy..., crystal skull elongated skull extraterrestrial cover up gods. extraterrestrial origin megoliths
            star people astronaut mahabharata space brothers, spaceships pyramids star people ancient alien mainstream archaelogy
            , puma punku electromagnetic ezekiel sky people sun disc.
        </p>
        <a class="btn btn-primary" ng-if="!$ctrl.userLoggedIn()" ng-click="$ctrl.login()">Login</a>
        <a class="btn btn-primary" ng-if="$ctrl.userLoggedIn()" ng-click="$ctrl.logout()">Logout</a>
    </div>
</div>