.utt-header {
    text-align: center;
}

.utt-header h1 {
    text-shadow: 3px 2px 14px rgba(255, 110, 110, 1);
    font-weight: normal;
    color: #000000;
    letter-spacing: 1pt;
    word-spacing: 2pt;
    font-family: helvetica, sans-serif;
    line-height: 1;
    text-transform: lowercase;
}


/* Bigger text on larger devices.  */

@media screen and (min-width: 768px) {
    .utt-header h1 {
        font-size: 88px;
    }
}

/* Sink */

.hvr-sink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sink:hover,
.hvr-sink:focus,
.hvr-sink:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}