.utt-header {
    text-align: center;
}

.utt-header h1 {
    text-shadow: 3px 2px 14px rgba(255, 110, 110, 1);
    font-weight: normal;
    color: #000000;
    letter-spacing: 1pt;
    word-spacing: 2pt;
    font-size: 88px;
    font-family: helvetica, sans-serif;
    line-height: 1;
    text-transform: lowercase;
}