<div class="row">
    <div class="col-xs-12 text-center">
        <h3>WOW</h3>
        <img ng-src="{{$ctrl.correctImagePath}}" class="img-responsive center-block">
        <p>You finally got one right...</p>
    </div>
    <div class="col-xs-12" ng-if="$ctrl.correctImagePath">
    </div>
    <div class="col-xs-12">
        <hr>
        <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.continue()">
            Continue
            <!-- Show busy spinner when submitting form.  -->
            <span ng-if="$ctrl.askedToContinue">
                <i class="fa fa-spinner fa-spin"></i>
            </span>
        </button>
    </div>
</div>