<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.close()">
        <span>&times;</span>
    </button>
    <h3 class="modal-title text-center" id="modal-title">Confirm Logout</h3>
</div>
<div class="modal-body">
    <h3>Are you sure you want to logout? You will not be able to answer any questions.</h3>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.close()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.logout()">Logout</button>
</div>