<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Debug Create Question</div>
                <div class="panel-body">
                    <form class="create-question-form" name="$ctrl.createQuestionForm" novalidate autocomplete="off" ng-submit="$ctrl.createQuestion()">
                        <fieldset ng-disabled="$ctrl.createQuestionForm.$submitted">
                            <!-- title -->
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" ng-model="$ctrl.model.title" required>
                            </div>
                            <!-- current body -->
                            <div class="form-group">
                                <label>Current Question Body</label>
                                <textarea type="text" class="form-control" ng-model="$ctrl.model.currentBody" required></textarea>
                            </div>
                            <!-- unlocked body -->
                            <div class="form-group">
                                <label>Unlocked Question Body</label>
                                <textarea type="text" class="form-control" ng-model="$ctrl.model.unlockedBody" required></textarea>
                            </div>
                            <!-- type -->
                            <div class="form-group">
                                <label>Question Type</label>
                                <select class="form-control" ng-model="$ctrl.model.type" ng-options="type for type in $ctrl.questionTypes" required></select>
                            </div>
                            <!-- answer -->
                            <div class="form-group">
                                <label>Answer</label>
                                <input type="text" class="form-control" ng-model="$ctrl.model.answer" required>
                            </div>
                            <!-- Submit button -->
                            <button class="btn btn-primary" type="submit" ng-disabled="$ctrl.createQuestionForm.$invalid">
                                Submit
                                <!-- Show busy spinner when submitting form.  -->
                                <span ng-if="$ctrl.createQuestionForm.$submitted">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </span>
                            </button>
                        </fieldset>
                    </form>
                    <h4>API RESULT</h4>
                    <pre>{{$ctrl.result|json}}</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>CURRENT QUESTION PREVIEW</h1>
            <utt-current-question cq-question="$ctrl.getCurrentQuestionModel()"></utt-current-question>
        </div>
        <div class="col-xs-12">
            <h1>UNLOCKED QUESTION PREVIEW</h1>
            <utt-unlocked-question question="$ctrl.getUnlockedQuestionModel()"></utt-unlocked-question>
        </div>
        <div class="col-xs-12">
            <h1>LOCKED QUESTION PREVIEW</h1>
            <utt-locked-question question="$ctrl.getLockedQuestionModel()"></utt-locked-question>
        </div>
    </div>
</div>