<div class="row">
    <div class="col-xs-12">
        <utt-collapsible-panel cp-ng-class="panel-primary" cp-start-expanded="true">
            <cp-title>
                <h4 class="panel-title">
                    <utt-question-number qn-number="{{$ctrl.question.number}}"></utt-question-number>
                    {{$ctrl.question.title}}
                </h4>
                </h4>
            </cp-title>
            <cp-body>
                <!-- Handle case when question is waiting to be approved by an admin -->
                <div ng-if="$ctrl.question.pendingApproval" class="am-fade">
                    WAIT
                </div>
                <!-- Display appropriate body based on question type -->
                <div ng-if="!$ctrl.question.pendingApproval" class="am-fade" ng-switch="$ctrl.question.type">
                    <!-- Text question -->
                    <div ng-switch-when="text">
                        <utt-text-question tq-question="$ctrl.question" tq-on-submit="$ctrl.onSubmit(answer)"></utt-text-question>
                    </div>
                    <!-- Show error when unsupported question type. -->
                    <div ng-switch-default>
                        <h3>This question was an unexpected type. This is an error!</h3>
                    </div>
                </div>
            </cp-body>
        </utt-collapsible-panel>
    </div>
</div>