<div class="row">
    <div class="col-xs-12">
        <utt-collapsible-panel cp-ng-class="panel-primary" cp-start-expanded="true">
            <cp-title>
                <h4 class="panel-title">
                    <utt-question-number qn-number="{{$ctrl.question.number}}"></utt-question-number>
                    {{$ctrl.question.title}}
                </h4>
                </h4>
            </cp-title>
            <cp-body>
                <!-- Show correct answer display if the user got the question correct! -->
                <div ng-if="$ctrl.questionAnsweredCorrectly">
                    Good Job!
                </div>
                <!-- If the user hasn't answered the question, display they appropriate body based on question type so they can answer it! -->
                <div ng-if="!$ctrl.questionAnsweredCorrectly" ng-switch="$ctrl.question.type">
                    <!-- Text question -->
                    <div ng-switch-when="text">
                        <utt-text-question tq-question="$ctrl.question" tq-on-submit="$ctrl.onSubmit(answer)"></utt-text-question>
                    </div>
                    <!-- Manual question -->
                    <div ng-switch-when="manual">
                        <utt-manual-question mq-question="$ctrl.question"></utt-manual-question>
                    </div>
                    <!-- Show error when unsupported question type. -->
                    <div ng-switch-default>
                        <h3>This question was an unexpected type. This is an error!</h3>
                    </div>
                </div>
            </cp-body>
        </utt-collapsible-panel>
    </div>
</div>