<!-- Navbar which allows the user to login.  -->
<utt-navbar></utt-navbar>

<!-- Display the header to the site -->
<utt-header></utt-header>

<!-- Main content of the page -->
<div class="container">
    <!-- Question Track -->
    <div ng-if="!$ctrl.error">
        <utt-question-track></utt-question-track>
        <!-- TODO: DEBUG remove from prod -->
        <utt-create-question></utt-create-question>
    </div>
    <!-- Error Display -->
    <div ng-if="$ctrl.error">
        <utt-error></utt-error>
    </div>
</div>

<!-- Display the sites footer -->
<utt-footer></utt-footer>