/* Make all links have pointer */
a:hover {
    cursor: pointer;
}


body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: helvetica, sans-serif;

    /* Set background gradient. */
    background: rgb(255, 182, 193);
    background: -moz-linear-gradient(-45deg, rgba(255, 182, 193, 1) 0%, rgba(125, 185, 232, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255, 182, 193, 1) 0%, rgba(125, 185, 232, 1) 100%);
    background: linear-gradient(135deg, rgba(255, 182, 193, 1) 0%, rgba(125, 185, 232, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb6c1', endColorstr='#7db9e8', GradientType=1);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html {
    width: 100%;
    height: 100%
}


/* Allow items to take up 100% of viewport */
.utt-full-viewport {
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-height: 100%;
}

/* Turn something blue! */
.utt-baby-blue {
    color: #89CFF0;
    /* text-shadow: 3px 2px 14px rgba(244, 194, 194, 1); */
}

/* Turn something pink */
.utt-baby-pink {
    color: #F4C2C2;
    /* text-shadow: 3px 2px 14px rgba(137, 207, 240, 1); */
}

/* Fade in / out animations */

.utt-fade-in,
.utt-fade-out {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.utt-fade-in.ng-hide-remove,
.utt-fade-out.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.utt-fade-out.ng-hide-add,
.utt-fade-in.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}