/* Make all links have pointer */

a:hover {
    cursor: pointer;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: helvetica, sans-serif;
    /* Set background gradient. */
    background: rgb(255, 182, 193);
    background: -moz-linear-gradient(-45deg, rgba(255, 182, 193, 1) 0%, rgba(125, 185, 232, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255, 182, 193, 1) 0%, rgba(125, 185, 232, 1) 100%);
    background: linear-gradient(135deg, rgba(255, 182, 193, 1) 0%, rgba(125, 185, 232, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb6c1', endColorstr='#7db9e8', GradientType=1);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html {
    width: 100%;
    height: 100%
}


/* Allow items to take up 100% of viewport */

.utt-full-viewport {
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-height: 100%;
}


/* Fade in / out animations */

.utt-fade-in,
.utt-fade-out {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.utt-fade-in.ng-hide-remove,
.utt-fade-out.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.utt-fade-out.ng-hide-add,
.utt-fade-in.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}

/* Let elements have a cursor pointer */
.utt-clickable {
    cursor: pointer;
}

.transparent-background {
    background: rgba(255, 255, 255, 0.35);
    border: none;
    border-radius: 3px;
    box-shadow: 0px 3px 15px -4px #3f3f3f;
}

/* Dont allow user to highlight text in the panel heading */

.utt-panel-heading {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}