/* Make all links have pointer */

a:hover {
    cursor: pointer;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%
}

/* Allow items to take up 100% of viewport */
.utt-full-viewport {
    display: flex;
    align-items: center;
    min-height: 100vh;
    min-height: 100%;
}