<div id="utt-question-track" class="container utt-question-track">
    <div class="row text-center">
        <div class="col-xs-12">
            <h3 class="page-header">each question must be completed before <a ng-click="$ctrl.scrollToReveal()">the truth</a> can be unlocked.</h3>
        </div>
    </div>
    <div class="row ">
        <!-- Show spinner when loading questions -->
        <div class="col-xs-12 text-center" ng-if="$ctrl.loading">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>

        <!-- Show main content -->
        <div class="col-xs-12" ng-if="!$ctrl.loading && !$ctrl.error">
            <!-- Main question track. -->
            <div class="row">
                <!-- Show all unlcoked questions -->
                <div class="col-xs-12" ng-repeat="question in $ctrl.model.unlockedQuestions">
                    <utt-unlocked-question question="question"></utt-unlocked-question>
                </div>
                <!-- Show the current question -->
                <div class="col-xs-12" ng-if="$ctrl.model.currentQuestion">
                    <utt-current-question cq-question="$ctrl.model.currentQuestion" cq-on-answered="$ctrl.onCurrentQuestionAnswered(answer)"
                        cq-on-continue="$ctrl.moveOnToNextQuestion()"></utt-current-question>
                </div>
                <!-- Show all locked questions -->
                <div class="col-xs-12" ng-repeat="question in $ctrl.model.lockedQuestions">
                    <utt-locked-question question="question"></utt-locked-question>
                </div>
            </div>
        </div>
    </div>
</div>