<div class="row">
    <div class="col-xs-12">
        <utt-collapsible-panel cp-ng-class="panel-success">
            <cp-title>
                <h4 class="panel-title">
                    <utt-question-number qn-number="{{$ctrl.question.number}}"></utt-question-number>{{$ctrl.question.title}}
                </h4>
            </cp-title>
            <cp-body>
                <!-- Display text questions with special format.  -->
                <div ng-if="$ctrl.question.type === 'text'" class="text-center">
                    <div>
                        <h4>
                            <strong>
                                Question:
                            </strong>
                        </h4>
                        <div>
                            <utt-question-body qb-body="$ctrl.question.unlockedBody"></utt-question-body>
                        </div>
                    </div>
                    <div>
                        <h4>
                            <strong>
                                Answer:
                            </strong>
                        </h4>
                        <div>
                            {{$ctrl.question.answer}}
                        </div>
                    </div>
                </div>
                <!-- Non text questions define their own body.  -->
                <div ng-if="$ctrl.question.type !== 'text'">
                    <utt-question-body qb-body="$ctrl.question.unlockedBody"></utt-question-body>
                </div>
                <!-- Statistics -->
                <hr style="border-top: 1px solid #3f3f3f" />
                <div class="row text-center">
                    <div class="col-xs-12 text-muted" style="font-weight: 100">
                        {{$ctrl.completionText($ctrl.question)}}
                    </div>
                </div>

            </cp-body>
        </utt-collapsible-panel>
    </div>
</div>