<div class="row">
    <div class="col-xs-12">
        <utt-collapsible-panel cp-ng-class="panel-success">
            <cp-title>
                <h4 class="panel-title">
                    <utt-question-number qn-number="{{$ctrl.question.number}}"></utt-question-number>{{$ctrl.question.title}}
                </h4>
            </cp-title>
            <cp-body>
                <div ng-if="$ctrl.type === 'text'">
                    <div>
                        <h4>
                            Question:
                        </h4>
                        <div>
                            <utt-question-body qb-body="$ctrl.question.unlockedBody"></utt-question-body>
                        </div>
                    </div>
                    <div>
                        <h4>
                            Answer:
                        </h4>
                        <div>
                            {{$ctrl.question.answer}}
                        </div>
                    </div>

                </div>
                <div ng-if="$ctrl.type !== 'text'">
                    <utt-question-body qb-body="$ctrl.question.unlockedBody"></utt-question-body>
                </div>
                <hr style="border-top: 1px solid #3f3f3f" />
                <div class="row" style="display: flex;justify-content: space-around;">
                    <div style="font-weight: 100">
                        {{$ctrl.completionText($ctrl.question)}}
                    </div>
                </div>

            </cp-body>
        </utt-collapsible-panel>
    </div>
</div>
