<div class="row">
    <!-- Show question text. -->
    <div class="col-xs-12">
        <h4>{{$ctrl.question.body}}</h4>
        <!-- <pre>{{$ctrl.textQuestionForm|json}}</pre> -->
    </div>
    <!-- User input -->
    <div class="col-xs-12">
        <form novalidate autocomplete="off" name="$ctrl.textQuestionForm" ng-submit="$ctrl.answerQuestion()">
            <fieldset ng-disabled="$ctrl.textQuestionForm.$submitted">
                <div class="form-group" ng-class="{'has-error': $ctrl.textQuestionForm.$error.correct}">
                    <input ng-model="$ctrl.answer" ng-keyup="$event.keyCode === 13 && $ctrl.answerQuestion()" type="text" class="form-control"
                        name="answer" placeholder="Enter answer..." required>
                    <span class="help-block" ng-if="$ctrl.textQuestionForm.$error.correct">Incorrect! Try again.</span>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.textQuestionForm.$error.required">
                    Submit Awnser
                    <i ng-if="$ctrl.textQuestionForm.$submitted" class="fa fa-spinner fa-spin"></i>
                </button>
            </fieldset>
        </form>
    </div>
</div>