<div class="row">
    <!-- Show question text. -->
    <div class="col-xs-12">
        <h4>{{$ctrl.question.body}}</h4>
        <!-- <pre>{{$ctrl.textQuestionForm|json}}</pre> -->
    </div>
    <!-- User input -->
    <div class="col-xs-12">
        <form novalidate autocomplete="off" name="$ctrl.textQuestionForm" ng-submit="$ctrl.answerQuestion()">
            <!-- DIisable all fields in form when submitting answer. -->
            <fieldset ng-disabled="$ctrl.textQuestionForm.$submitted">
                <!-- Text input -->
                <div class="form-group" ng-class="{'has-error': $ctrl.textQuestionForm.$error.correct}">
                    <input ng-model="$ctrl.answer" ng-keyup="$event.keyCode === 13 && $ctrl.answerQuestion()" ng-change="$ctrl.onUserInput()"
                        type="text" class="form-control" name="answer" placeholder="Enter answer..." required>
                    <!-- Taunt the user if they are incorrect. -->
                    <div class="help-block">
                        <span class="am-fade-and-slide-top" ng-show="$ctrl.textQuestionForm.$error.correct">{{$ctrl.insult}}</span>
                    </div>
                </div>
                <!-- Submit buton -->
                <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.textQuestionForm.$error.required || $ctrl.textQuestionForm.$error.correct">
                    Submit Awnser
                    <!-- Show busy spinner when submitting form.  -->
                    <span ng-if="$ctrl.textQuestionForm.$submitted">
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                </button>
            </fieldset>
        </form>
    </div>
</div>